[[source]]
url = "https://github.com/andytestt/module14_HW7_2"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.10"
